---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Education from '../components/Education.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Education />
    <Projects />
    <Skills />
    <Contact />
  </main>
  <Footer />
</Layout>
